SECRET_KEY='SECRET KEY' # Replace with your actual secret key
MYSQL_HOST='localhost'
MYSQL_USER='REPLACE WITH USER' # mostly root 
MYSQL_PASSWORD='REPLACE WITH MYSQL PASSWORD' # Replace with your actual MySQL password
MYSQL_DB="REPLACE WITH DAATABASE NAME"